<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.busonline.api.dao.IBusGatherMapper">
<!--插入线路信息  -->
<insert id="insertBusLine" parameterType="net.busonline.api.model.vo.BusLine" useGeneratedKeys="true" keyProperty="id">
 insert into bus_line (line_id,city_id,linkdir,line_name,line_name_bd,price,start_time,end_time,dictionary_id,create_time)
 values(#{line_id},#{city_id},#{linkdir},#{linename},
 #{linename_bd},#{price},#{start_time},#{end_time},#{linetype},now())
</insert>
<!--插入线路信息 -->
<insert id="insertBusBite" parameterType="map" >
	insert into bus_stop (stop_name,line_id,stopseq,linedir,blat,blon,lat,lon,create_time) values
	<foreach collection="list" item="item" index="index" separator="," > 
        (#{item.name},#{line_id},#{index},#{linkdir},#{item.lat},#{item.lon},#{item.glat},#{item.glon},now()) 
    </foreach> 
</insert>
<!-- 查找所有线路 -->
<select id="finBusLineInfo" parameterType="map" resultType="String">
	SELECT line_name_bd FROM bus_line  WHERE line_name LIKE CONCAT(CONCAT('%', #{busline}), '%')
	and city_id = #{cityid}
</select>
<!--查找城市  -->
<select id="findCity" parameterType="map" resultType="net.busonline.api.model.vo.Common">
	SELECT id,name_cn as name FROM city 
</select>
<!--查找字典表信息  -->
<select id="findSegment" parameterType="String" resultType="net.busonline.api.model.vo.Common">
 SELECT id,dictionary_name as name FROM dictionary where parent_id = #{parent_id}
</select> 
	
</mapper>