<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.busonline.api.dao.LineViewMapper">
	<select id="getAllLine" resultType="java.util.Map">
			SELECT
			IFNULL(bl.id,'') AS id,
			IFNULL(bl.line_id,'') AS lineid,
			IFNULL(bl.linkdir,'') AS linkdir,
			IFNULL(bl.line_name ,'')AS linename,
			IFNULL(bl.line_name_bd,'') AS linenamebd,
			IFNULL(bl.price ,'')AS price,
			IFNULL(bl.line_type ,'')AS linetype,
			IFNULL(bl.dictionary_id,'') AS dictionaryid,
		    IFNULL(bl.installation_number,'') AS installationnumber,
		    IFNULL(bl.match_number,'') AS matchnumber,
		    IFNULL(dc.dictionary_name ,'') AS dictionaryname,
		    IFNULL(bl.dictionary_id,'')AS dictionaryid,
		    IFNULL(bl.create_time ,'')AS createtime
		FROM
			bus_line bl
		LEFT JOIN city ct ON ct.id = bl.city_id
        LEFT JOIN  dictionary dc ON dc.id = bl.dictionary_id
		WHERE 1=1
	   <if test="map.linename!=null and map.linename!=''">
		AND	bl.line_name like  CONCAT('%',#{map.linename},'%') 
		</if>
		<if test="map.cityname!=null and map.cityname!=''">
		AND ct.name_cn=#{map.cityname}
		</if>
	<if test="map.linkdir!=null and map.linkdir!=''">
	     AND bl.linkdir IN
	    <foreach item="item1" index="index" collection="map.linkdir" 
	              open="(" separator="," close=")">
	             #{item1}
	        </foreach>
	 
		</if>
	 
   <if test="map.linetype!=null and map.linetype!=''">
        AND bl.line_type IN 
       <foreach item="item3" index="index" collection="map.linetype" 
	              open="(" separator="," close=")">
	             #{item3}
	        </foreach>
		</if>
   <if test="map.dictionaryid!=null and map.dictionaryid!=''">
		AND bl.dictionary_id IN  
		   <foreach item="item2" index="index" collection="map.dictionaryid" 
	              open="(" separator="," close=")">
	             #{item2}
	        </foreach>
		</if>
		 ORDER BY    bl.create_time  DESC,
                     bl.line_name asc
			limit #{map.page.offset},#{map.page.pageSize}		
	</select>
	
	
		<select id="getAllLineCount" resultType="java.lang.Long">
			SELECT
			count(1)
		FROM
			bus_line bl
		LEFT JOIN city ct ON ct.id = bl.city_id
        LEFT JOIN  dictionary dc ON dc.id = bl.dictionary_id
		WHERE 1=1
	   <if test="map.linename!=null and map.linename!=''">
		AND	bl.line_name like  CONCAT('%',#{map.linename},'%') 
		</if>
		<if test="map.cityname!=null and map.cityname!=''">
		AND ct.name_cn=#{map.cityname}
		</if>
	<if test="map.linkdir!=null and map.linkdir!=''">
	     AND bl.linkdir IN
	    <foreach item="item1" index="index" collection="map.linkdir" 
	              open="(" separator="," close=")">
	             #{item1}
	        </foreach>
	 
		</if>
	 
   <if test="map.linetype!=null and map.linetype!=''">
        AND bl.line_type IN 
       <foreach item="item1" index="index" collection="map.linetype" 
	              open="(" separator="," close=")">
	             #{item1}
	        </foreach>
		</if>
   <if test="map.dictionaryid!=null and map.dictionaryid!=''">
		AND bl.dictionary_id IN  
		   <foreach item="item1" index="index" collection="map.dictionaryid" 
	              open="(" separator="," close=")">
	             #{item1}
	        </foreach>
		</if>
		 
	</select>
	 <delete id="delLinebyid">
		DELETE
			FROM
				bus_line
			WHERE
				id =#{id}
	 </delete>
	 <delete id="delstopbylineid">
			DELETE
			FROM
				bus_stop
			WHERE
				line_id =#{id}
	 </delete>
	 
	 <update id="updatestopbyid">
		UPDATE bus_stop
		SET stop_name =#{map.stopname},
		 lat =#{map.lat}, 
		 lon =#{map.lon}, 
		 stop_type =#{map.stoptype},
		 update_time =#{map.modifytime}
		WHERE
			id =#{map.id}
</update>


 <update id="updateLinebyid">
		UPDATE bus_line
		SET line_name = #{map.linename},
		 dictionary_id = #{map.dictionaryid},
		 line_type = #{map.linetype},
		 linkdir = #{map.linkdir},
		 installation_number = #{map.installationnumber},
		 match_number = #{map.matchnumber},
		 update_time =#{map.modifytime}
		WHERE
			id =#{map.id}
</update>

 <select id="getLineById" resultType="java.util.Map" >
		  		
		  SELECT
				IFNULL(b.line_name,'') as linename,
				IFNULL(b.linkdir,'') as linkdir,
				IFNULL(b.price ,'')as price,
				IFNULL(b.start_time,'') as starttime,
				IFNULL(b.end_time,'') as endtime,
				IFNULL(b.line_type ,'')as linetype,
				IFNULL(b.installation_number,'') AS installationnumber,
		        IFNULL(b.match_number,'') AS matchnumber,
				IFNULL(b.dictionary_id ,'')as dictionaryid,
		        IFNULL(b.id,'')as id,
		        IFNULL(b.line_id,'')as lineid
		
		FROM
			bus_line b
		  WHERE b.id=#{id}
		  		
</select>
<select id="selectstopcount" resultType="java.lang.Long" >
   SELECT 
     count(1) 
   FROM 
     bus_stop 
   WHERE 
     line_id=#{id}
</select>


	<select id="selectstopbylineid" resultType="java.util.Map" >
		SELECT
			bs.id AS id,
			bs.lat AS lat,
			bs.lon AS lon,
			bs.stop_type AS stoptype,
		  bs.stop_name AS endstop,
		  bs.stopseq AS stopseq
		FROM
			bus_stop bs
		WHERE
			line_id = #{lineid}
		ORDER BY
			stopseq ASC
</select>
<select id="selectstartstop" resultType="java.lang.String" >
		   SELECT
			stop_name AS startstop
		FROM
			bus_stop
		WHERE
			line_id = #{id}
		ORDER BY
			stopseq ASC
LIMIT 1
</select>
<select id="selectendstop" resultType="java.lang.String">
	  SELECT
		stop_name AS endstop
	FROM
		bus_stop
	WHERE
		line_id = #{id}
	ORDER BY
		stopseq DESC
	LIMIT 1
</select>
<delete id="delsignline">
   DELETE
FROM
	sign_line
WHERE
	line_id =#{lineid}
</delete>
</mapper>