<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.busonline.api.dao.SignMapper">
	<select id="getAllSign" resultType="java.util.Map">
		SELECT
			    IFNULL(s.e_sign,'') AS sign,
				IFNULL(bl.line_id,'') AS lineid,
				IFNULL(c.name_en,'') AS city,
				IFNULL(bl.id,'') AS id,
             	IFNULL( bl.linkdir,'') AS linkdir
		FROM
			sign s
		LEFT JOIN sign_line sl ON s.id = sl.sign_id
		LEFT JOIN bus_line bl ON sl.line_id = bl.id
		LEFT JOIN city  c ON bl.city_id = c.id
	</select>
	<select id="getLine" resultType="java.util.Map">
		SELECT
			s.e_sign AS sign,
			bl.line_id AS lineid,
			c.name_en AS city
		FROM
			sign s
		LEFT JOIN sign_line sl ON s.id = sl.sign_id
		LEFT JOIN bus_line bl ON sl.line_id = bl.id
		LEFT JOIN city  c ON bl.city_id = c.id
		WHERE c.name_en=#{city}
	</select>
	
	<select id="getLineByCityAndLine" resultType="java.util.Map">
		SELECT
			 
			bl.line_id AS lineid,
			IFNULL(bl.linegeo,'') AS linegeo,
            bl.linkdir AS linkdir
		FROM
			sign s
		LEFT JOIN sign_line sl ON s.id = sl.sign_id
		LEFT JOIN bus_line bl ON sl.line_id = bl.id
		LEFT JOIN city  c ON bl.city_id = c.id
		WHERE c.name_en=#{city} AND 
		    bl.id IN
		   	<foreach  collection="data" item="item1" index="index" 
	              open="(" separator="," close=")">
	             #{item1}
	        </foreach>
	</select>
	
	
	
		<select id="findidByLineid" resultType="java.util.Map">
			SELECT
				bl.id AS id
			FROM
				sign s
			LEFT JOIN sign_line sl ON s.id = sl.sign_id
			LEFT JOIN bus_line bl ON sl.line_id = bl.id
			LEFT JOIN city  c ON bl.city_id = c.id
			WHERE c.name_en='beijing' AND 
				 bl.line_id   IN
			   	<foreach  collection="data" item="item1" index="index" 
		              open="(" separator="," close=")">
		             #{item1}
		        </foreach>
	</select>
	
	<select id="lineStop" resultType="java.util.Map">
		SELECT
			bs.id AS stopid,
			bl.line_id AS lineid,
			bs.stop_name AS stopname,
			bs.lon AS lon,
			bs.lat AS lat,
			bs.stopseq AS stopseq,
			bs.linedir AS linedir
		FROM
			bus_stop bs
      LEFT JOIN bus_line bl ON  bs.line_id=bl.id
		WHERE
			bs.line_id IN
		   	<foreach  collection="data" item="item1" index="index" 
	              open="(" separator="," close=")">
	             #{item1}
	        </foreach>
	</select>
	
	<select id="startingStop" resultType="java.util.Map">
	   SELECT
		    IFNULL(bl.line_id,'')AS lineid,
		    IFNULL(bl.line_name,'') AS linename,
		    IFNULL(bs.name,'') AS stopname,
		    IFNULL(bs.lon ,'')AS lon,
		    IFNULL(bs.lat ,'')AS  lat,
		    IFNULL(bs.linedir,'') AS linedir
		
		FROM
			`bus_stop` bs
		LEFT JOIN bus_line bl ON bs.line_id = bl.id
		WHERE
			bs.stopseq = 1;
	
	
	</select>
	
</mapper>