@charset "UTF-8";
/**
 * @authors 	Your Name (you@example.org)
 * @date    	2016-08-16 10:39:57
 * @version 	$Id$
 */
*{margin:0;padding:0;}
body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}

ul li{list-style: none;}
.fr{float: right;}
.fl{float: left;}
#l-map{height:100%;width:100%;}
#r-result {width:100%;}
.topbar{width:100%;   position: fixed; top:0;left:0;z-index:10;}
.topbar_1{width: 100%;height: 50px;background-color: #0644f5;color: #fff; font-size: 14px;}
.topbar_1 span{ display: inline-block;margin:10px 20px 0 20px; font-size: 18px;}
.topbar_1 ul{display: inline-block;}
.topbar_1 ul li{ display: inline-block;margin: 0 20px;padding: 0 10px; font-size: 14px;}
.topbar_1 select,.cityBtn{margin: 10px 20px;}
.topbar_2{width:100%; height: 25px;padding:65px 10px 20px; background-color: #e6e7d8; position: relative;}
.topbar_2 input[type="button"]{width:80px;height: 30px;margin-left: 20px;}

.onbuslineShow{ position: absolute; left: 0; top:45px;background-color: #fff;width:500px; height: 850px;  overflow-x: hidden; display: none;}
.conditionBox{position: absolute; left: 280px; top:100px;background-color: #fff;padding:30px; overflow-x: hidden;border:1px solid #ccc;display: none;}
.conditionBox ul li{height: 40px;}
.onbuslineBlock{width:456px;  overflow: hidden;margin:15px 20px 0;}
.onbuslineNum{font-size: 20px; padding-left: 20px; padding-top: 15px;}
.onbuslineBlock_l{width:30px; height:70px;border:1px solid #0644f5; background-color: #0644f5; text-align: center; color: #fff;padding:8px 0;}
.onbuslineBlock_r{width:402px;height:70px;padding:8px 0  8px 10px;border:1px solid #0644f5;}
.onbuslineBlock_r p{padding-left: 8px;}
.onbuslineBlock_r p:first-child{font-weight: bold;margin-bottom: 15px;}
.buslineSites{width:450px; line-height: 35px;border:1px solid #ccc;padding-left: 10px;}
.popup{width:400px;height: 300px;border-radius: 5px; padding:20px;background-color: #fff;position: absolute;left:50%; top:30%;margin-left: -150px;z-index: 100;  display: none;}
.popup input[type="button"]{width:80px;height: 30px;margin-right: 20px;}
.popup input[type="text"]{width:240px;height: 30px;}
.popup tr td{ height: 50px;}
.times{padding-right: 30px;}
.stationsbox>p{padding-left: 20px;}
.popup table{text-align: center;}
.popup table tr{line-height: 34px;}
.popup table tr td:first-child{padding-right: 10px;}
.popup table tr td:nth-child(2){text-align: left;}
.topbar_1 ul li.caiji ul,.topbar_1 ul li.shuju ul，.topbar_1 ul li.yewu ul，.topbar_1 ul li.zidian ul{font-size: 12px;}
.topbar_1 ul li.caiji,.topbar_1 ul li.shuju,.topbar_1 ul li.yewu,.topbar_1 ul li.zidian{position: relative;}
.topbar_1 a{color: #fff;}
.caiji ul,.shuju ul,.yewu ul,.zidian ul{display: none;position: absolute;background-color: #0644f5;z-index: 100;left:10px; }
.caiji ul li,.shuju ul li,.yewu ul li,.zidian ul li{margin:0;font-size: 12px;width: 100%;text-align: center;padding:5px 20px 0 0px; text-align: center; line-height: 20px;}
.caiji:hover ul,.shuju:hover ul,.yewu:hover ul,.zidian:hover ul{display: block;}
.caiji ul li:hover,.shuju ul li:hover,.yewu ul li:hover,.zidian ul li:hover{color: #fff;}
.tianjia{padding:60px 20px 20px;}
.add{margin-left: 10px;}
.label_name{margin-right: 20px;width: 200px;text-align: right;float: left;}
.tianjia_box{overflow: hidden;}
.tianjia_box li{float: left;margin-right: 15px;}
.tianjia_in{margin-bottom: 10px;margin-top: 10px;}
.tianjia_in span{margin-right: 5px;}
.tips{font-size: 12px;color: #3c8dbc;margin-left: 220px;}
.liebiao{width:80%;height: 800px; overflow-y: scroll;padding-top: 70px;}
.liebiao table tr:first-child{border-bottom: 1px solid red;}
.liebiao table tr th,td{padding:8px;background-color: #fff;text-align: left;}
.liebiao table tr td{background-color: #f9f9f9;}
.liebiao table tr a{margin-right: 5px;text-decoration: none;}
.xiugai{margin-left: 50px;}
.liebiao_box {width: 500px;}
.liebiao_box li{border-bottom: 1px dashed #ccc;padding:8px 0 4px 0; }
.two_add{font-size: 14px;text-align: center;}
.updataWindow{width:300px;height: 100px;border-radius: 5px; padding:20px;background-color: #fff;position: absolute;left:30%; top:30%;z-index: 100;border: 1px solid #ccc;display: none; }
.main{width:100%; padding-top: 100px;}
.updataWindow input[type="button"],.updateWindow input[type="button"],.updateStaionWindow input[type="button"],.conditionBox input[type="button"]{width:80px;height: 30px;margin-right: 20px;margin-top:30px;}
.updataWindow input[type="text"]{width:200px;height: 30px;}
.mainList{width:90%;margin-left: 20px;}
.mainList tr td,.mainList tr th{border:1px solid #333; line-height: 35px; text-align: center;}
.main h2{ font-size: 20px;}
.main h2 span{ display: inline-block; margin:20px;  background-color: #0644f5;color: #fff;padding:5px 15px;}
.mainList a{color: #f68c0f; margin-right: 15px; cursor:pointer;}
.updateWindow,.updateStaionWindow{width:320px;overflow:hidden;border-radius: 5px; padding:10px;background-color: #fff;position: absolute;left:50%; top:20%;margin-left: -160px;z-index: 100;border: 1px solid #ccc; display: none;}
.updateStaionWindow{  position: fixed;top:40%;}
.updateWindow ul li,.updateStaionWindow ul li{line-height: 35px;}
.updateWindow p,.updateStaionWindow p{ text-align: right; font-size: 20px;}
.stationDetail{ display: none;}
.closeStation{cursor: pointer;}
.stationTableList{ position: relative;}
.closeStation{position: absolute;right:-15px; top:-20px; background-color: red;  display:inline-block;width:30px;height:30px;border-radius: 30px; text-align: center;}
.admin{width: 50%;margin:20px; padding-top: 50px;}
.admin h2{ width:100%; font-size: 20px; font-weight: normal; float: left; position: relative;}
.addAdminPop{width:340px; padding:20px;overflow: hidden; background-color: #fff;border:1px solid #f0eded; position: absolute; right: 0; top:40px; z-index: 10;  font-size: 14px; border-radius: 5px; display: none;}
.addAdminPop ul li,.updateAdminPop ul li{line-height: 40px;}
.addAdminPop input[type="button"],.updateAdminPop input[type="button"]{width:80px;height: 30px;margin-left: 40px;margin-top:30px;}
.addAdminPop input[type="text"],.updateAdminPop input[type="text"]{border:1px solid #dedede; height: 30px; line-height: 30px;}
.admin h2 a{ display: inline-block;float: right;  background-color: #0692f4; border-radius: 5px; color: #fff;padding: 3px 30px;cursor: pointer;}
.adminList{width:100%;margin-top: 10px; float: left;}
.adminList tr th{background-color: #d4faec;}
.adminList tr td,.adminList tr th{border:1px solid #333; line-height: 40px; text-align: center;}
.updateAdmin,.deleteAdmin{color: #036dc6;margin-right: 20px;cursor: pointer;}
.updateAdminPop{width:300px; padding:20px;overflow: hidden; background-color: #fff;border:1px solid #f0eded;left: 18%; top:20%; position: fixed;z-index: 11;border-radius: 5px; display: none;}
.resetPassword,.outLogin{margin-left: 30px;cursor: pointer;}
/*login*/
    .login{width: 380px;height: 200px;border:1px solid #ccc;margin:150px auto 0;padding:50px 55px 30px;}
    .login li{margin-bottom: 10px;}
    .login li input[type="text"]{border:1px solid #dedede; height: 30px; line-height: 30px;}
    .login li input[type="button"]{width:80px;height: 30px;}
    .user_info{width: 80px;text-align: right;display: inline-block;}
    .code {font-family:Arial;font-style:italic;color:blue;  border:0;display: inline-block;border:1px solid #ccc;background-color:#fff;padding:1px 8px;margin:0 10px;}
    .login_btn{text-align: center;margin-top: 30px;}
/*分页插件*/
.pager{width:100%; text-align: center;padding: 20px 0;}
.pager a {
    text-decoration: none;
    border: 1px solid #e7ecf0;
    color: #15B;
}

.pager a:hover {
    background-color: #E6EBEF;
}

.pager> a, .pager span {
    display: inline-block;
    padding: 0.3em 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}
/*页码选中样式*/
.pager .selectno {
    background: #26B;
    color: #fff;
    border: 1px solid #AAE;
}
/*输入框样式*/
.pager .numinput{ width: 50px;padding:3px 6px;}
/*输入框右侧按钮样式*/
.pager .numbutton{margin: 0 5px;padding:4px 10px;}